@font-face {
  font-family: "OpenSans";
  src: url("polices/OpenSans.eot");
  src: url("polices/OpenSans.eot?#iefix") format("embedded-opentype"), url("polices/OpenSans.woff") format("woff"), url("polices/OpenSans.ttf") format("truetype"), url("polices/OpenSans.svg#cac_champagneregular") format("svg");
}
body {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 500;
  font-size: large;
  width: 100%;
  margin: auto;
}
@media all and (max-width: 768px)
{
.logo__around {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 17px;
}
.logo {
  width: 180px;
}
.location__around {
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
}
.location__space {
  margin-right: 20px;
}
.location__p {
  margin-right: 25px;
}
} 