@font-face {
  font-family: "OpenSans";
  src: url("polices/OpenSans.eot");
  src: url("polices/OpenSans.eot?#iefix") format("embedded-opentype"), url("polices/OpenSans.woff") format("woff"), url("polices/OpenSans.ttf") format("truetype"), url("polices/OpenSans.svg#cac_champagneregular") format("svg");
}
body {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 500;
  font-size: medium;
  width: 100%;
  margin: auto;
}
@media all and (max-width: 768px)
{
.logo__around {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 17px;
}
.logo {
  width: 180px;
}
.location__around {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6a2;
}
.location__space {
  margin-right: 20px;
}
.location__p {
  margin-right: 25px;
  font-weight: 400;
}
.explore__around {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 260px;
  background-color: #dfdfdf34;
}
.explore__title{
  width: 287px;
  display: flex;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}
.explore__p {
  width: 331px;
  text-align: center;
  margin-top: -12px;
}
.explore__button {
  width: 190px;
  height: 45px;
  border: none;
  border-radius: 35px 35px 35px 35px;
  box-shadow: 0px 5px 15px -3px #999;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  margin-top: 10px;
}
.functioning__around {
  margin-top: 35px;
}
} 