body {
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 500;
  font-size: medium;
  width: 100%;
  height: 100%;
  margin: auto;
}
.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 7s ease-in-out;
  background-color: white;
  z-index: 1;
  opacity: 0;
}
.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  margin: 15px;
  -webkit-animation: loader 0.3s infinite alternate;
  -o-animation: loader 0.3s infinite alternate;
  animation: loader 0.3s infinite alternate;
}
.d2 {
  animation-delay: 0.05s;
}
.d3 {
  animation-delay: 0.1s;
}
@-webkit-keyframes loader {
  100% {
    -webkit-transform: translateY(-30px);
  }
}
@keyframes loader {
  100% {
    -webkit-transform: translateY(-30px);
  }
}
 /*header*/
 .logo__around {
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 5px -5px;
  margin-top: 30px;
  padding-bottom: 15px;
}
.logo {
  width: 180px;
}
.location__around {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6a2;
}
.location__space {
  margin-right: 20px;
}
.location__p {
  margin-right: 25px;
  font-weight: 400;
}
.explore__around {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 260px;
  background-color: #dfdfdf34;
}
.explore__title{
  width: 287px;
  display: flex;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}
.explore__p {
  width: 331px;
  text-align: center;
  margin-top: -12px;
}
.explore__button {
  width: 190px;
  height: 45px;
  border: none;
  border-radius: 35px 35px 35px 35px;
  box-shadow: 0px 5px 15px -3px #999;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  margin-top: 10px;
}
/*main*/
.functioning__around {
  height: 45px;
  width: 310px;
  border: 1px solid #dfdfdf34;
  border-radius: 20px;
  box-shadow: 0px 8px 25px -13px #999;
  background-color: #dfdfdf34;
  margin-bottom: 30px;
  padding-top: 25px;
}
.functioning__position {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 430px;
  margin-top: 30px;
}
.functioning__title {
  margin-left: -130px;
}
.functioning__ul {
  list-style-type: none;
  font-weight: 600;
  padding-left: 0px;
}
.functioning__circle {
  border: 1px solid #9356DC;
  border-radius: 35px 35px 35px 35px;
  background-color: #9356DC;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  left: -12px;
  color: white;
}
.functioning-active :active {
  background-color: #f6e7fd8a;
  box-shadow: 0px 13px 25px -10px #999;
}
.functioning-active :active .functioning__space {
  color:#9356DC;
}
.functioning-active :active .functioning__circle {
  background-color: #9356DC;
}
.functioning__space {
  margin-left: 7px;
  margin-right: 20px;
}
.fa-store {
  margin-right: 19px;
}
.fa__color {
  color: #999;
}
.card__around {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #dfdfdf34;
}
.card__title {
  margin-left: -173px;
  margin-top: 40px;
  margin-bottom: 35px;
}
.card__position {
  margin-bottom: 50px;
}
.card
{
  width: 315px;
  height: 220px;
  background-color: white;
  box-shadow: 0px 0px 9px #999;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
}
.card a { 
  color: black;
  text-decoration: none;
}
.card__image {
  height: 151px;
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 0px;
  left: 0px;
  border-radius: 15px 15px 0px 0px;
}
.card__image img {
  width: 320px;
  position: absolute;
  top: -54px;
  left: -3px;
}
.card__body {
  padding-left: 3%;
  margin-top: -10px;
  height: 45px;
}
.card__name {
  margin-bottom: -20px;
}
.card__heart {
  position: relative;
  bottom: 41px;
  margin-left: 263px;
}
.fa-heart {
  font-size: x-large;
}
.heart__animation {
  position: absolute;
  width: 24.1px;
  left: 0px;
  top: 23px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  transition: all 1s;
}
.fa-heart:hover {
  top: 0;
}
.card__new {
  font-weight: 600;
  position: relative;
  bottom: 221px;
  font-size: small;
  width: 66px;
  height: 22px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  border-radius: 3px;
  color: green;
  margin-left: 215px;
  padding-left: 7px;
  padding-top: 2px;
}
.card__image__second img {
  width: 315px;
  position: absolute;
  top: -149px;
  left: 0px;
}
 /*footer*/
 .footer__around {
  background-color: #000000c4;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}
.footer__logo {
  width: 88px;
  margin: 25px 0px 5px -228px;
  font-size: large;
  font-family: 'Shrikhand', cursive;
}
.footer__style {
  list-style-type: none;
  padding: 0px;
  margin: 7px 0px 0px -116px;
  font-weight: 100;
}
.footer__text {
  margin-bottom: 5px;
}
.footer__icon__one {
  margin-right: 16px;
}
.footer__icon__two {
  margin-right: 10px;
}
.footer__mail {
  text-decoration: none;
  color: white;
}