@media all and (min-width: 768px) and (max-width: 992px){
.functioning__position {
  height: 345px;
}
.functioning__title {
  margin-left: 0px;
}
.functioning__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}
.card__around {
  flex-direction: row;
}
.card__title {
  margin-left: 0px;
  margin-bottom: 40px;
}
.card__position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}
.footer__logo {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.footer__style {
  margin: 0px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

}