@media all and (min-width: 993px) {
/*header*/
.logo__around {
  margin-top: 35px;
  padding-bottom: 30px;
}
.header__image {
    height: 545px;
}
.header__image img {
  height: 730px;
}
.image-restaurant-2 img {
  height: 1200px;
}
/*main*/
h2 {
  font-size: xx-large;
  margin-left: 30px;
}
.fa-heart {
  top: -36px;
  left: 202px;
  font-size: x-large;
}
.heart__animation {
  left: 143px;
}
.card__heart:hover .heart__animation {
  transform: scale(1.1);
}
.main__position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  width: 78%;
  justify-content: center;
}
.main__card__marge {
  margin-bottom: 0px;
}
.main__card__around:hover .card__check__around {
  right: -277px;
  transition: 0.5s ease-in-out;
  width: 63px;
  opacity: 100%;
}
.main__card__around:hover .main__card__plate {
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__card__around:hover .main__card__description {
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__card__around:hover .card__check__around i {
  animation: rotate 0.3s 0.2s linear;
}
.explore__button:hover {
  box-shadow: 0px 10px 28px -6px #999;
}
/*footer*/
.footer__logo {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.footer__style {
  margin: 0px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

}