@media all and (min-width: 768px) and (max-width: 992px) {
/*header*/
.logo__around {
  margin-top: 35px;
  padding-bottom: 30px;
}
.header__image {
    height: 545px;
}
/*main*/
h2 {
  font-size: xx-large;
}
.fa-heart {
  top: -35px;
  left: 179px;
  font-size: x-large;
}
.heart__animation {
  left: 120px;
}
/*footer*/
.footer__logo {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.footer__style {
  margin: 0px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

}