  body {
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 500;
    font-size: medium;
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 1400px;
  }
  /*header*/
  .logo__around {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 11px;
  }
  .fa-arrow-left {
    position: relative;
    left: -55px;
    top: 5px;
  }
  .logo {
    width: 180px;
  }
  .header__image {
    width: 100%;
    margin: auto;
    height: auto;
  }
  .header__image img {
    width: 100%;
    height: auto;
  }
  /*main*/
  .main__around {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -60px;
    margin: auto;
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    background: #f7f6f6;
    margin-bottom: -60px;
  }
  h2 {
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
    margin-left: -10px;
    margin-bottom: 0px;
  }
  .fa-heart {
    margin-left: 35px;
  }
  .heart__animation {
    position: relative;
    left: -59px;
    background: linear-gradient(180deg, #9356DC, #FF79DA);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transform: scale(0);
    transition: transform 1s;
  }
  .card__heart:active .heart__animation {
    transform: scale(1.1);
  }
  .main__position {
    margin-left: 0px;
  }
  h4 {
    font-weight: 400;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    margin-bottom: 15px;
    padding-bottom: 3px;
  }
  .main__card__marge {
    margin-bottom: 35px;
  }
  .main__card__around {
    width: 340px;
    background-color: white;
    border-radius: 15px;
    height: 63px;
    padding-left: 12px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 12px -3px #999;
    overflow: hidden;
  }
  .animation {
    animation: 1s linear 0.5s both fadein;
  }
  .animation-1 {
    animation-delay: 0.8s;
  }
  .animation-2  {
    animation-delay: 1.1s;
  }
  .animation-3 {
    animation-delay: 1.4s;
  }
  .animation-4 {
    animation-delay: 1.7s;
  }
  .animation-5 {
    animation-delay: 2s;
  }
  .animation-6 {
    animation-delay: 2.3s;
  }
  .animation-7 {
    animation-delay: 2.6s;
  }
  .animation-8 {
    animation-delay: 2.9s;
  }
  .animation-9 {
    animation-delay: 3.2s;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .main__card__plate {
    font-weight: 600;
    padding-top: 8px;
    font-size: large;
  }
  .main__title__description__around {
    display: flex;
  }
  .main__card__description {
    font-size: smaller;
  }
  .main__card__price {
    font-weight: 600;
    position: relative;
    left: 157px;
  }
  .card__check__around {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #99E2D0;
    border-radius: 0px 15px 15px 0px;
    right: -178px;
    top: -32px;
    width: 63px;
    height: 63px;
    transition: 0.7s ease-in-out;
  }
  .fa-circle-check {
    color: white;
    font-size: x-large;
  }
  .main__card__around:hover .card__check__around {
    right: -115px;
    transition: 0.7s ease-in-out;
  }
  .main__card__around:hover .card__check__around i {
    animation: rotate 0.3s 0.4s linear;
  }
  .main__title__description__around:hover {
    width: calc(100% - 100px);
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .explore__around {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .explore__button {
    width: 170px;
    height: 45px;
    border: none;
    border-radius: 35px 35px 35px 35px;
    box-shadow: 0px 5px 15px -3px #999;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    margin-top: 10px;
    cursor: pointer;
  }
  .explore__button:active {
    box-shadow: 0px 10px 28px -6px #999;
  }
 /*footer*/
 .footer__around {
    background-color: #000000c4;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }
  .footer__logo {
    width: 88px;
    margin: 25px 0px 5px -228px;
    font-size: large;
    font-family: 'Shrikhand', cursive;
  }
  .footer__style {
    list-style-type: none;
    padding: 0px;
    margin: 7px 0px 0px -116px;
    font-weight: 100;
  }
  .footer__text {
    margin-bottom: 5px;
  }
  .footer__icon__one {
    margin-right: 16px;
  }
  .footer__icon__two {
    margin-right: 10px;
  }
  .footer__mail {
    text-decoration: none;
    color: white;
  }